.footercentral {
  background: black;
  color: #fff;
  width: 100%;
  height: 200px;
  overflow-x: hidden; /* Prevent horizontal overflow */
}

.footercentral a {
  color: #fff;
}

.footercentral .navfooter {
  display: flex;
  align-items: center;
  line-height: 2rem;
  z-index: 1;
  gap: 1.5rem;
  margin-left: 18rem;
}

.footercentral .navfooter i {
  margin-right: -2.7rem;
}

.footercentral .navfooter select {
  padding: 1.3rem 1.5rem 1.3rem 1.5rem;
  background: transparent;
  color: #ccc;
  border: 1px solid #303030;
  border-radius: 5px;
}

.footercentral h2 {
  margin-left: 18rem;
  padding-top: 3rem;
  font-family: "Poppins", sans-serif;
  font-size: 1.1rem;
  color: #fff;
}

.footercentral h2 a {
  text-decoration: none;
  color: #fff;
}

.footercentral .footer {
  width: 70%;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.footercentral .footer ul {
  list-style: none;
}

.footercentral .footer div {
  margin: 3rem;
}

.footercentral .footer li {
  font-size: 1.1rem;
  font-family: "Poppins", sans-serif;
  line-height: 2rem;
  color: #fff;
}

.footercentral .footer li:hover {
  border-bottom: 1px solid #1b1b1b;
  cursor: pointer;
}

.footerlogin {
  background: #000000bf;
  color: #fff;
  width: 100%;
  height: 290px;
  overflow-x: hidden; /* Prevent horizontal overflow */
}

.footerlogin .navfooter {
  display: flex;
  align-items: center;
  line-height: 2rem;
  z-index: 1;
  gap: 1.5rem;
  margin-left: 18rem;
}

.footerlogin .navfooter i {
  margin-right: -2.7rem;
}

.footerlogin .navfooter select {
  padding: 1.3rem 1.5rem 1.3rem 1.5rem;
  background: transparent;
  color: #ccc;
  border: 1px solid #303030;
  border-radius: 5px;
  margin-top: -1rem;
}

.footerlogin h2 {
  margin-left: 18rem;
  padding-top: 3rem;
  font-family: "Poppins", sans-serif;
  font-size: 1.1rem;
  color: #fff;
}

.footerlogin h2 a {
  text-decoration: none;
  color: #fff;
}

.footerlogin .footer {
  width: 70%;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.footerlogin .footer ul {
  list-style: none;
}

.footerlogin .footer div {
  margin: 3rem;
  margin-left: 5rem;
}

.footerlogin .footer li {
  font-size: 1.1rem;
  font-family: "Poppins", sans-serif;
  line-height: 2rem;
  color: #fff;
}

.footerlogin .footer li:hover {
  border-bottom: 1px solid #1b1b1b;
  cursor: pointer;
}

.faqfooter {
  background: #221f1f;
  color: #fff;
  width: 100%;
  padding: 3rem 7rem 5rem 7rem;
  overflow-x: hidden; /* Prevent horizontal overflow */
}

.faqfooter ul {
  list-style: none;
  display: flex;
  gap: 3rem;
}

.faqfooter ul li:hover {
  cursor: pointer;
  border-bottom: 1px solid #777;
}

.faqfooter div select {
  border: 1px solid #ccc;
  padding: 1rem 3rem;
  cursor: pointer;
  color: #fff;
  background: none;
  text-transform: uppercase;
}

.faqfooter select:hover {
  background: #eaeae6;
  color: #222222;
}

.footerlogin-accueil {
  background: #000000bf;
  color: #fff;
  width: 100%;
  height: 450px;
  overflow-x: hidden; /* Prevent horizontal overflow */
}

@media (max-width: 600px) {
  footer {
    max-width: 600px;
    overflow: hidden;
  }
}

@media (max-width: 500px) {
  footer {
    max-width: 500px;
    overflow: hidden;
    text-align: center;
  }
}

@media (max-width: 406px) {
  footer {
    max-width: min-content;
    overflow: hidden;
    text-align: center;
  }
}
