.footercentral {
  background: black;
  color: #fff;
  width: 100%;
  height: 200px;
}
.footercentral a {
  color: #535353;
}
.footercentral .navfooter {
  display: flex;
  align-items: center;
  line-height: 2rem;
  z-index: 1;
  gap: 1.5rem;
  margin-left: 18rem;
}
.footercentral .navfooter i {
  margin-right: -2.7rem;
}
.footercentral .navfooter select {
  padding: 1.3rem 1.5rem 1.3rem 1.5rem;
  background: transparent;
  color: #ccc;
  border: 1px solid #303030;
  border-radius: 5px;
}
.footercentral h2 {
  margin-left: 18rem;
  padding-top: 3rem;
  font-family: "Poppins", sans-serif;
  font-size: 1.1rem;
  color: #535353;
}
.footercentral h2 a {
  text-decoration: none;
  color: #535353;
}
.footercentral .footer {
  width: 70%;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}
.footercentral .footer ul {
  list-style: none;
}
.footercentral .footer div {
  margin: 3rem;
}
.footercentral .footer li {
  font-size: 1.1rem;
  font-family: "Poppins", sans-serif;
  line-height: 2rem;
  color: #535353;
}
.footercentral .footer li:hover {
  border-bottom: 1px solid #1b1b1b;
  cursor: pointer;
}

/* LOGIN PAGE *************************************/
.login-container {
  height: 700px;
  background: red;
  color: white;
}
.login-container h1,
.login-container h3,
.login-container p {
  color: white;
  font-family: "Poppins", sans-serif;
  margin-bottom: 2rem;
}
.login-container h1 {
  font-size: 3.125rem;
}

.image-login {
  background-image: url(../img/neflixtop.jpeg);
  background-size: cover;
  height: 1200px;
  width: 100%;
  z-index: -1;
  box-shadow: 10px 10px 10000px 100px black inset;
}

.login-select {
  display: flex;
  align-items: center;
  line-height: 2rem;
  z-index: 1;
  gap: 1.5rem;
}
.login-select select {
  padding: 0.5rem 1rem 0.5rem 1rem;
  background: transparent;
  color: #ccc;
  border: 1px solid white;
  border-radius: 5px;
}
.login-select button {
  padding: 0.5rem 1rem 0.5rem 1rem;
  border: 2px solid #e50914;
  border-radius: 5px;
  background: #e50914;
  color: white;
  cursor: pointer;
}

.navlog {
  line-height: 2rem;
}
.navlog h2 {
  color: red;
  font-family: "Bebas Neue", cursive;
  margin-top: -10rem;
  margin-left: 4rem;
  font-size: 4rem;
}
.navlog h2 a {
  color: red;
}

.navlog-container {
  margin-top: -60rem;
  margin-left: 73rem;
  display: flex;
  align-items: center;
  line-height: 2rem;
  z-index: 1;
  gap: 1.5rem;
}
.navlog-container select {
  padding: 0.5rem 1rem 0.5rem 1rem;
  background: transparent;
  color: #ccc;
  border: 1px solid white;
  border-radius: 5px;
}
.navlog-container button {
  padding: 0.5rem 1rem 0.5rem 1rem;
  border: 2px solid #e50914;
  border-radius: 5px;
  background: #e50914;
  color: white;
  cursor: pointer;
}

.login {
  color: white;
  width: 450px;
  background: #000000bf;
  height: 600px;
  margin: auto;
  border-radius: 10px;
}
.login .login-border {
  width: 100%;
  height: 100%;
  padding: 3rem;
  display: flex;
  flex-flow: column;
}
.login .login-border input {
  padding: 1rem;
  border-radius: 5px;
  margin-bottom: 1rem;
  border: 1px solid white;
  outline: none;
}
.login .login-border button {
  padding: 1rem;
  border-radius: 5px;
  border: 1px solid #e50914;
  background: #e50914;
  color: white;
  font-size: 1rem;
  margin: 2rem 0;
  cursor: pointer;
}
.login .login-border h1 {
  font-size: 2rem;
  font-family: "Poppins", sans-serif;
  margin-bottom: 2rem;
}
.login .login-border ul {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #858585;
  margin-bottom: 2rem;
}
.login .login-border ul li a {
  text-decoration: none;
  color: #858585;
}
.login .login-border ul li span {
  width: 0.5rem;
  height: 0.2rem;
  background: #fff;
  padding: 0 0.3rem;
}
.login .login-border .with {
  display: flex;
  gap: 1rem;
  color: #858585;
  margin-bottom: 1rem;
}
.login .login-border .with span {
  color: #fff;
}
.login .login-border p {
  color: #858585;
}
.login .login-border p a {
  text-decoration: none;
  color: #0808d8;
}

.footerlogin {
  background: #000000bf;
  color: #fff;
  width: 100%;
  height: 290px;
  margin-top: 4.5rem;
}
.footerlogin .navfooter {
  display: flex;
  align-items: center;
  line-height: 2rem;
  z-index: 1;
  gap: 1.5rem;
  margin-left: 18rem;
}
.footerlogin .navfooter i {
  margin-right: -2.7rem;
}
.footerlogin .navfooter select {
  padding: 1.3rem 1.5rem 1.3rem 1.5rem;
  background: transparent;
  color: #ccc;
  border: 1px solid #303030;
  border-radius: 5px;
  margin-top: -1rem;
}
.footerlogin h2 {
  margin-left: 18rem;
  padding-top: 3rem;
  font-family: "Poppins", sans-serif;
  font-size: 1.1rem;
  color: #535353;
}
.footerlogin h2 a {
  text-decoration: none;
  color: #535353;
}
.footerlogin .footer {
  width: 70%;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}
.footerlogin .footer ul {
  list-style: none;
}
.footerlogin .footer div {
  margin: 3rem;
  margin-left: 5rem;
}
.footerlogin .footer li {
  font-size: 1.1rem;
  font-family: "Poppins", sans-serif;
  line-height: 2rem;
  color: #535353;
}
.footerlogin .footer li:hover {
  border-bottom: 1px solid #1b1b1b;
  cursor: pointer;
}

/******FAQ PAGE***************************/
.faq {
  background: black;
  width: 100%;
  height: 4rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 7rem;
  color: red;
}
.faq .navfa {
  display: flex;
  line-height: 2rem;
}
.faq .navfa h2 {
  color: red;
  font-family: "Bebas Neue", cursive;
  font-size: 2rem;
}
.faq .navfa h2 a {
  color: red;
}
.faq .navfa ul {
  margin-left: 1rem;
  list-style: none;
  display: flex;
  color: #fff;
  gap: 1rem;
}
.faq .navfa ul li {
  font-size: 1rem;
  font-family: "arial", sans-serif;
}
.faq .navfa ul li span {
  font-size: 1.7rem;
}
.faq .navfa ul li a:hover {
  border-bottom: 1px solid #fff;
}
.faq .navfaq button {
  padding: 0.5rem 2rem;
}
.faq .navfaq button a {
  color: black;
}
.faq .navfaq :first-child {
  background: transparent;
  border: 1px solid #fff;
  border-radius: 3px;
  color: #fff;
  cursor: pointer;
}
.faq .navfaq :first-child:hover {
  background: #fff;
  color: #222;
}
.faq .navfaq :last-child {
  background: #e50914;
  border: 1px solid #e50914;
  cursor: pointer;
}
.faq .navfaq :last-child:hover {
  opacity: 0.8;
}

/** FAQ CONTAINER***/
.faqcontainer {
  width: 85%;
  margin: auto;
  height: auto;
  padding-top: 2rem;
}
.faqcontainer p {
  color: #e50914;
  margin-bottom: 2rem;
}
.faqcontainer h2 {
  margin-bottom: 2rem;
}
.faqcontainer .div {
  display: flex;
  gap: 7rem;
}
.faqcontainer .div ul :first-child {
  list-style: none;
  font-size: 1.3rem;
  font-weight: bold;
  margin-bottom: 2rem;
  margin-left: -1rem;
}
.faqcontainer .div ul li {
  margin-bottom: 1rem;
  font-size: 1.1rem;
}
.faqcontainer .text {
  margin-top: 1rem;
  margin-bottom: 3rem;
  width: 800px;
}
.faqcontainer .text p {
  color: #222;
  margin-bottom: 0;
  letter-spacing: 0.5px;
}
.faqcontainer .text p button {
  padding: 1rem 1.3rem;
}
.faqcontainer .text p button:hover {
  border: 1px solid #e50914;
  cursor: pointer;
  background: #e50914;
  color: #fff;
}
.faqcontainer .text a {
  color: #e50914;
}
.faqcontainer .text a:hover {
  border-bottom: 1px solid #e50914;
}
.faqcontainer .text hr {
  margin: 4rem 0;
}
.faqcontainer .text .note {
  border-left: 3px solid lightgray;
  padding-left: 1rem;
}
.faqcontainer .text ol {
  margin-left: 1rem;
  line-height: 2rem;
  letter-spacing: 1px;
  margin-bottom: 1rem;
}

.contactus {
  background: #eaeae6;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 6rem;
  padding: 0 7rem;
}
.contactus ul {
  list-style: none;
  display: flex;
  gap: 1rem;
}
.contactus ul li {
  border: 1px solid black;
  background: #fff;
  padding: 1rem;
}
.contactus ul li:hover {
  cursor: pointer;
  background: #eaeae6;
}

/*** faq Footer *****/
.faqfooter {
  background: #221f1f;
  color: #777;
  display: flex;
  justify-content: space-between;
  padding: 3rem 7rem 5rem 7rem;
}
.faqfooter ul {
  list-style: none;
  display: flex;
  gap: 3rem;
}
.faqfooter ul li:hover {
  cursor: pointer;
  border-bottom: 1px solid #777;
}
.faqfooter div select {
  border: 1px solid #ccc;
  padding: 1rem 3rem;
  cursor: pointer;
  color: #777;
  background: none;
  text-transform: uppercase;
}
.faqfooter select:hover {
  background: #eaeae6;
  color: #222222;
}

/**************** HELP CENTER PAGE***************************/
.helphead {
  background-image: url(../img/netflixname.jpeg);
  width: 100%;
  height: 200px;
  color: #fff;
  text-align: center;
}
.helphead h1 {
  font-family: "Poppins", sans-serif;
  font-size: 2rem;
  margin-bottom: 2rem;
}
.helphead input {
  width: 50rem;
  height: 3rem;
  padding: 1rem;
  font-size: 1.2rem;
  outline: none;
}

.topics {
  padding: 1rem;
  background: #f3f2f2;
  color: #222;
}
.topics .topics-container {
  width: 90%;
  margin: auto;
}
.topics .topics-container h2 {
  margin-bottom: 2rem;
  font-family: "Poppins", sans-serif;
  font-weight: 400px;
}
.topics .topics-container .personalized a {
  border: 1px solid #222;
  color: #222;
  padding: 1rem;
  font-family: "Poppins", sans-serif;
}
.topics .topics-container .personalized a:first-child {
  background: #e50914;
  color: #fff;
  border: 1px solid #e50914;
}
.topics .topics-container .personalized a:last-child {
  margin-left: 1rem;
  border: 1px solid #e50914;
  background: #f8f0f0;
  color: #e50914;
}
.topics .topics-container .personalized a:last-child:hover {
  background: #e50914;
  color: #fff;
}
.topics .topics-container p {
  margin: 3rem 0 1rem 0;
  font-size: 1.2rem;
}
.topics .topics-container ul {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 1rem;
  margin-bottom: 2rem;
}
.topics .topics-container ul li {
  padding: 0.7rem 2rem;
  background: white;
  border-radius: 5px;
  cursor: pointer;
}
.topics .topics-container ul li a {
  color: #222;
}
.topics .topics-container ul li img {
  width: 1.5rem;
  margin-bottom: -5px;
  margin-right: 7px;
}
.topics .topics-container ul li:hover a {
  color: #e50914;
  border-bottom: 1px solid #e50914;
}

.topics-details {
  padding: 4rem 2rem;
  border-top: 1px solid silver;
  border-bottom: 1px solid silver;
}
.topics-details .topics-details-content {
  width: 90%;
  margin: auto;
  display: flex;
  justify-content: space-between;
}
.topics-details .topics-details-content a {
  color: #646464;
  letter-spacing: 0.5px;
}
.topics-details .topics-details-content ul {
  list-style: none;
  color: #222;
}
.topics-details .topics-details-content ul li {
  margin: 2rem 0;
}
.topics-details .topics-details-content ul li:hover a {
  color: #e50914;
  border-bottom: 1px solid #e50914;
}
.topics-details .topics-details-content .icons {
  margin-top: 1.5rem;
}
.topics-details .topics-details-content .icons ul li {
  color: #e50914;
}

.helpfooter {
  background: #f3f2f2;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1.5rem 6rem;
}
.helpfooter ul {
  list-style: none;
  display: flex;
  gap: 1rem;
}
.helpfooter ul li {
  border: 1px solid black;
  padding: 1rem;
  background: white;
  cursor: pointer;
}
.helpfooter ul li a {
  color: #222;
}
.helpfooter ul li:hover {
  background: #f3f2f2;
}

/***************** ACCUEIL PAGE**********************/
.video {
  height: 800px;
  width: 100%;
  background: black;
}

#accueil-container {
  width: 100%;
  height: 3rem;
  position: fixed;
  z-index: 1;
}
#accueil-container .navaccueil {
  display: flex;
  align-items: center;
  justify-content: space-between;
  line-height: 2rem;
  color: #222;
  margin-bottom: 0.5rem;
}
#accueil-container .navaccueil h2 {
  color: red;
}
#accueil-container .navaccueil ul {
  list-style: none;
  display: flex;
  padding: 1rem;
}
#accueil-container .navaccueil ul .net {
  color: #e50914;
}
#accueil-container .navaccueil ul li {
  margin: 0 1rem;
}
#accueil-container .navaccueil ul li a {
  color: #fff;
  cursor: pointer;
}
#accueil-container .navaccueil ul li a:hover {
  opacity: 0.8;
}

.videodetails {
  display: flex;
  flex-flow: column;
  margin-top: -30rem;
  margin-left: 2rem;
  position: relative;
}
.videodetails div ul {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 0.5rem;
}
.videodetails div ul h3 {
  line-height: 2rem;
  align-items: center;
  color: #ddd;
}
.videodetails div ul li img {
  width: 1rem;
}
.videodetails div h2 {
  margin-bottom: 1rem;
  color: #ddd;
}
.videodetails div p {
  color: #eaeae6;
  margin-bottom: 1rem;
  font-size: 1.5rem;
}
.videodetails div span {
  color: #eaeae6;
  margin-top: 1rem;
}
.videodetails div #a {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 2rem;
}
.videodetails div a {
  border: 1px solid black;
  padding: 0.8rem 2rem;
  border-radius: 6px;
}
.videodetails div a img {
  width: 1rem;
}
.videodetails div .a1 {
  background: #eaeae6;
  color: #222;
  border: none;
}
.videodetails div .a1:hover {
  opacity: 0.8;
}
.videodetails div .a2 {
  background: #696767bf;
  border: none;
}
.videodetails div .a2:hover {
  opacity: 0.8;
}
.videodetails div .a3 {
  padding: 0.5rem;
  border: 1px solid #ffff;
  border-radius: 100%;
  margin: 1rem;
}
.videodetails div .a3:hover {
  background: #353535bf;
}
.videodetails div .a4 {
  background: #444444bf;
  border-radius: 0;
  border-left: 3px solid #fff;
}

/************  IFRAME******************/
.iframecentral {
  width: 100%;
  overflow: hidden;
  background-color: #131212;
}

.iframe {
  width: 100%;
  height: auto;
  display: flex;
  flex-flow: column;
  margin-top: 2rem;
  margin-bottom: 1rem;
}
.iframe h2 {
  margin: 4rem 0 2rem 6rem;
  color: #fff;
  position: relative;
}
.iframe ul {
  display: flex;
  list-style: none;
}
.iframe ul li {
  margin: 0.2rem;
  height: 12rem;
}
.iframe ul li img {
  width: 18rem;
  height: 10rem;
  border-radius: 5px;
  cursor: pointer;
}
.iframe ul li img:hover {
  opacity: 0.7;
}
.iframe .fram1 {
  position: relative;
  padding-left: 6rem;
  overflow: scroll;
  scroll-behavior: smooth;
}
.iframe .fram1::-webkit-scrollbar {
  display: none;
}
.iframe .fram2 {
  position: relative;
  padding-left: 6rem;
  overflow: scroll;
}
.iframe .fram2::-webkit-scrollbar {
  display: none;
}
.iframe .fram3 {
  position: relative;
  padding-left: 6rem;
  overflow: scroll;
}
.iframe .fram3::-webkit-scrollbar {
  display: none;
}
.iframe .fram2h2 {
  color: #ccc;
  font-weight: normal;
  margin-bottom: 0.3rem;
}
.iframe h3 {
  margin-left: 6rem;
  font-size: 1.3rem;
}
.iframe .fram4 {
  position: relative;
  padding-left: 6rem;
  overflow: scroll;
  margin-bottom: 2rem;
}
.iframe .fram4 ul li {
  height: 30rem;
  background-size: cover;
  border: 1px solid #3b0306;
  border-radius: 5px;
  box-shadow: 0px 0px 30px #3b0306 inset;
}
.iframe .fram4 ul li img {
  padding: 1rem;
  width: 18rem;
  height: 30rem;
  border-radius: 5px;
}
.iframe .fram4::-webkit-scrollbar {
  display: none;
}
.iframe .fram5 {
  position: relative;
  padding-left: 6rem;
  overflow: scroll;
  color: #ddd;
  margin-bottom: 4rem;
}
.iframe .fram5 ul {
  overflow-y: hidden;
}
.iframe .fram5 ul li {
  font-family: "Monoton", cursive;
  font-size: 12rem;
  margin: 1rem;
  display: flex;
  color: #777;
  background-size: cover;
}
.iframe .fram5 ul li img {
  width: 7rem;
  height: 10rem;
  margin-left: -2rem;
  margin-top: 4rem;
}
.iframe .fram5 ul li img:hover {
  opacity: 0.5;
}
.iframe .fram5::-webkit-scrollbar {
  display: none;
}

.footerlogin-accueil {
  background: #000000bf;
  color: #fff;
  width: 100%;
  height: 450px;
  margin-top: 4.5rem;
}
