#login-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  color: white;
}

.image-login {
  background-image: url(../img/neflixtop.jpeg);
  background-size: cover;
  height: 100vh;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
  box-shadow: 10px 10px 10000px 100px black inset;
}

.login {
  color: white;
  width: 100%; /* Set width to 100% */
  max-width: 450px; /* Add max-width to limit width on larger screens */
  background: #000000bf;
  height: auto;
  margin: auto;
  border-radius: 10px;
  padding: 20px;
}


.login-border {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.login-border input {
  padding: 10px;
  border-radius: 5px;
  margin-bottom: 10px;
  border: 1px solid white;
  outline: none;
}

.login-border button {
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #e50914;
  background: #e50914;
  color: white;
  font-size: 1rem;
  margin: 20px 0;
  cursor: pointer;
}

.login-border h1 {
  font-size: 2rem;
  font-family: "Poppins", sans-serif;
  margin-bottom: 20px;
}

.login-border ul {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #858585;
  margin-bottom: 20px;
}

.login-border ul li a {
  text-decoration: none;
  color: #858585;
}

.login-border ul li span {
  width: 0.5rem;
  height: 0.2rem;
  background: #fff;
  padding: 0 0.3rem;
}

.login-border .with {
  display: flex;
  align-items: center;
  gap: 1rem;
  color: #858585;
  margin-bottom: 10px;
}

.login-border .with span {
  color: #fff;
}

.login-border p {
  color: #858585;
}

.login-border button a {
  text-decoration: none;
  color: #fff;
}
