.row {
  margin-left: 20px;
  color: white;
  position: relative;
}

.row__posters {
  display: flex;
  overflow-y: hidden;
  overflow-x: scroll;
  padding: 20px;
}

.row__posters::-webkit-scrollbar {
  display: none;
}

.row__poster {
  object-fit: contain;
  width: 100%;
  max-height: 100px;
  margin-right: 10px;
  transition: transform 450ms;
}

.row__poster:hover {
  transform: scale(1.08);
}

.row__posterLarge {
  max-height: 250px;
}

.row__posterLarge:hover {
  transform: scale(1.09);
}

.chevron_buttons_left{
  display: none;
  position: absolute;
  left: 0;
  top:50%;
  opacity: 0.5;
  cursor: pointer;
  z-index: 10;
  
}

.chevron_buttons_right{
  display: none;
  position: absolute;
  right: 0;
  top:50%;
  opacity: 0.5;
  cursor: pointer;
  z-index: 10;
  
}
.chevron_buttons_left:hover{
  opacity: 1;

}

.chevron_buttons_right:hover{
  opacity: 1;

}
.row:hover .chevron_buttons_left, .row:hover .chevron_buttons_right{
  display: block;
}
